{% extends "base.html" %}

{% block content %}
<h2>Cancelar Agendamento</h2>
<table class="table table-bordered">
    <thead>
        <tr><th>Data</th><th>Turno</th><th>Aula</th><th>Professor</th><th>Disciplina</th><th></th></tr>
    </thead>
    <tbody>
        {% for id,prof,disc,data,turno,periodo in agendamentos %}
        <tr>
            <td>{{ data }}</td>
            <td>{{ turno }}</td>
            <td>{{ periodo }}ª</td>
            <td>{{ prof }}</td>
            <td>{{ disc }}</td>
            <td>
                <form method="POST" style="display:inline;">
                    <input type="hidden" name="id" value="{{ id }}">
                    <button class="btn btn-sm btn-danger" type="submit">Cancelar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}